.tab {
    overflow: hidden;
    }
.tab-content {
    max-height: 0;
    transition: ease-in-out 0.3s;
}
input:checked + .tab-label .test {
    background-color: #000;
}
input:checked + .tab-label .test svg {
    transform: rotate(180deg);
    stroke: #fff;
}
input:checked + .tab-label::after {
    transform: rotate(90deg);
}
input:checked ~ .tab-content {
    max-height: 100vh;
}